In [1]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np
import csv

# API key
from config import api_key

csv_file = r"C:\Users\skm72\Desktop\Project Repo\Project-1\Stephen\Weather CSV/Top 50 Cities.csv"
top_cities=pd.read_csv(csv_file)
top_cities.head()

   RANKÂ          CITY
0      1     New York
1      2  Los Angeles
2      3      Chicago
3      4      Houston
4      5      Phoenix

In [2]:
url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
start_date = "2019-12-01"
end_date = "2019-12-31"
target_cities = top_cities["CITY"]

target_cities_request = []

# For loop to get the query url for all the target cities for January
for cities in target_cities:
    response = requests.get(f'{url}?key={api_key}&q={cities}&format=json&date={start_date}&enddate={end_date}').json()
    target_cities_request.append(response)

In [3]:
with open('Dec.json', 'w') as json_file:
    json.dump(target_cities_request, json_file)